<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{app_label}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.23.0/bootstrap-table.min.css" integrity="sha512-pipgbnEeqbV1palK8tQa01GGrlxB6p/x2R3zhijtN3sVZ8FQj+dUgTlmFVcpdXYmnjoa5Y8aANuiP7x/mb4DKA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.23.0/bootstrap-table.min.js" integrity="sha512-6h9xN7Sj/Mk5HLFz2wNJFfvOYtzSNqzAR0t/cwYFbAL2/pmgQF8XWIlfjJNolpRolqjG4+0Yu/mFXUqmDEF96Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>
