<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{app_label}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.27.3/bootstrap-table.min.css" integrity="sha512-mplezIUE/T9kKOi27CQ4Ba6rJmOo4QSA2VO5Az30WmvGa4a2feWOX1nLuMJz8SbUNhE90UhIWJGbNCHdu8VJqg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.27.3/bootstrap-table.min.js" integrity="sha512-7UCMu6gzIKkIiZEHDffn55TzL1+yEQhCa4pi4hhG0BOW0gI3LVzVhkH9yfSZ1VtKuycL5KScbTYt7ieENPcU4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>
